﻿@inherits System.Web.Mvc.WebViewPage
@{                      
    Layout = null;
}
<!DOCTYPE html>
<style>
    body {
        background-color: white;
    }

    h1 {
        color: blue;
    }

    p {
        color: black;
    }

    table, th, td {
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }
</style>
<script type="text/javascript">

</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/swiftApp.js"></script>
</head>

<body>
    <h1>Save and submit Address Information</h1>
    <div ng-app="swiftApp" ng-controller="addressControl">
        <table  style="width:70%;">
            <tr>
                <td  style="width:auto;">
                    <table style="width:auto; height:auto; float: left;">
                        <tr>
                            <td style="width:300px; height:40px">
                                Name :
                                </td>
                            <td style="width:300px; height:40px">
                                <input type="text" name="address.name" ng-model="address.Name" /></br>
                            </td>
                            <td style="width:300px; height:40px">
                                Post Address :
                                </td>
                            <td style="width:300px; height:40px">
                                <input type="text" name="address.postaddress" ng-model="address.PostAddress" /></br>
                            </td>
                            <td style="width:300px; height:40px">
                                Phone no. : 
                            </td>
                            <td style="width:300px; height:40px">
                                <input type="text" name="address.phoneno" ng-model="address.PhoneNo" /></br>
                            </td>
                            <td style="width:300px; height:40px">
                                <input type="button" value="Save" name="btnSave" ng-click="savedata(address)" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:1200px;table-layout:fixed"></>

                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Ph. Number</th>
                            <th>Press Button</th>
                            <th>Response</th>
                        </tr>
                        <tr ng-controller="addressControl" ng-repeat="address in addresses">

                            <td style="width:200px; height:40px" name="address.Name" >{{address.Name}}</td>
                            <td style="width:200px; height:40px" name="address.PostAddress" >{{address.PostAddress}}</td>
                            <td style="width:200px; height:40px" name="address.PhoneNo" >{{address.PhoneNo}}</td>
                            <td style="width:200px; height:40px"><button ng-click="submitIndividualdata(address);">Submit</button></td>
                            <td style="width:200px; height:40px">
                                                        <div ng-repeat="s in submitIndividualResult">
                                    <p>{{s.ResponseType}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>         
    </div> 
</body>
</html>
